*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS51nXeQeK8XSic-tDeq1nCKLaG1F0V0ThOBw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200px;
    text-align: center;
    padding-top: 150px;

}
